$cell-size: 14vmin;
$cell-gap: 1.9vmin;
$border-radius: 0.95vmin;
$cell-total: $cell-size + $cell-gap;
$font-size: 3vmin;
$page-bgc: #fbf8ef;
$light-grey: #d6cdc4;
$dark-grey: #776e65;
$white: #f9f6f2;
$yellow: #edc22e;
$dark-yellow: #d5ae2a;
$black: #3b3732;
$light-pink: #f1b2b2;
$pink: #f87474;
$green: #1dae28;
$dark-green: #179921;
$field-color: #bbada0;
$field-color-dark: #a99b91;
